/*/apps/[a-z]*
!/*/apps/[a-z]*.*
/*/tests/[a-z]*
!/*/tests/[a-z]*.*
/*/wwwapps/[a-z]*
!/*/wwwapps/[a-z]*.*
*.o
*.a
*.swp
backup*.tgz
*.deb
/*/Makefile
/*/*/Makefile
config/Makefile.def
config.log
config.status
config/include/dcmtk/config/cfunix.h
description-pak
doc-pak
.kdev4/
*.kdev4
*~
